<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.http.proxy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:supportsRtl="false"
        tools:replace="android:allowBackup,android:supportsRtl">
        <activity
            android:name=".RequestActivity"
            android:label="Proxyer"
            android:launchMode="singleTask"
            android:theme="@style/Theme.HttpProxyer">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.ding.library.internal.ui.CaptureInfoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
            android:theme="@style/Theme.HttpProxyer.NoActionBar" />

        <service
            android:name=".ProxyService"
            android:exported="false" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="com.http.proxy.ProxyInitializer"
                android:value="@string/androidx_startup" />
        </provider>
    </application>

</manifest>