<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.twlk.httpserver">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name="com.twlk.httpserver.MApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.Server">
        <service
            android:name="com.twlk.httpserver.service.WebService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="dataSync">
            <intent-filter>
                <action android:name="com.twlk.httpserver.SERVER_ACTION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <provider
            android:name="com.twlk.httpserver.SocketContentProvider"
            android:authorities="com.twlk.httpserver"
            android:enabled="true"
            android:exported="true"
            android:grantUriPermissions="true">

        </provider>
    </application>

</manifest>